<% layout("/layouts/boylerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-2">
            <h1>SignUp for WanderLust</h1>
            <form method="post" action="/users/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-lable">Username</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-lable">Email ID</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                    <div class="invalid-feedback">Please enter velid email</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-lable">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-success mb-2">Sign-up</button>
            </form>
            <hr>
            <p>Have an Account! <a class="btn btn-sm btn-warning mb-2" href="/users/login">login</a></p>
        </div>
    </div>
</body>